<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.captain.demo.fmouse.mapper.PromoterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.captain.demo.fmouse.entity.Promoter">
        <id column="promoter_id" property="promoterId" />
        <result column="user_id" property="userId" />
        <result column="promoter_name" property="promoterName" />
        <result column="promoter_sex" property="promoterSex" />
        <result column="promoter_height" property="promoterHeight" />
        <result column="promoter_phone" property="promoterPhone" />
        <result column="promoter_id_card_no" property="promoterIdCardNo" />
        <result column="promoter_id_card_photo" property="promoterIdCardPhoto" />
        <result column="promoter_address_province" property="promoterAddressProvince" />
        <result column="promoter_address_city" property="promoterAddressCity" />
        <result column="promoter_address_area" property="promoterAddressArea" />
        <result column="promoter_address_detail" property="promoterAddressDetail" />
        <result column="promoter_address_longitude" property="promoterAddressLongitude" />
        <result column="promoter_address_latitude" property="promoterAddressLatitude" />
        <result column="promoter_full_photo" property="promoterFullPhoto" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        promoter_id, user_id, promoter_name, promoter_sex, promoter_height, promoter_phone, promoter_id_card_no, promoter_id_card_photo, promoter_address_province, promoter_address_city, promoter_address_area, promoter_address_detail, promoter_address_longitude, promoter_address_latitude, promoter_full_photo, status, is_deleted, create_time, update_time, create_by, update_by
    </sql>

</mapper>
