<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.captain.demo.database.mybatis.MarketAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.captain.demo.database.mybatis.entity.MarketArea">
        <id column="id" property="id"/>
        <result column="market_no" property="marketNo"/>
        <result column="name" property="name"/>
        <result column="parent_market_no" property="parentMarketNo"/>
        <result column="qywechat_id" property="qywechatId"/>
        <result column="market_code" property="marketCode"/>
        <result column="sort" property="sort"/>
        <result column="sfa_market_id" property="sfaMarketId"/>
        <result column="market_type" property="marketType"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, market_no, name, parent_market_no, qywechat_id, market_code, sort, sfa_market_id, market_type, status, create_time, update_time
    </sql>

    <select id="lalala" resultType="com.captain.demo.database.mybatis.entity.MarketArea">
        select  * from t_market_area
    </select>

</mapper>
