<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.captain.demo.database.mybatis.TestSelectTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.captain.demo.database.mybatis.entity.TestSelectTable">
        <id column="id" property="id"/>
        <result column="col1" property="col1"/>
        <result column="col2" property="col2"/>
        <result column="col3" property="col3"/>
        <result column="col4" property="col4"/>
        <result column="col5" property="col5"/>
        <result column="col6" property="col6"/>
        <result column="col7" property="col7"/>
        <result column="col8" property="col8"/>
        <result column="col9" property="col9"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, col1, col2, col3, col4, col5, col6, col7, col8, col9
    </sql>

</mapper>
