<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.captain.demo.database.mybatis.UserAreaInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.captain.demo.database.mybatis.entity.UserAreaInfo">
        <id column="user_area_id" property="userAreaId" />
        <result column="user_id" property="userId" />
        <result column="qywechat_id" property="qywechatId" />
        <result column="xcx_appid" property="xcxAppid" />
        <result column="market_area_id" property="marketAreaId" />
        <result column="market_company_id" property="marketCompanyId" />
        <result column="market_second_id" property="marketSecondId" />
        <result column="market_third_id" property="marketThirdId" />
        <result column="market_fourth_id" property="marketFourthId" />
        <result column="market_fifth_id" property="marketFifthId" />
        <result column="market_sixth_id" property="marketSixthId" />
        <result column="is_active" property="isActive" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_area_id, user_id, qywechat_id, xcx_appid, market_area_id, market_company_id, market_second_id, market_third_id, market_fourth_id, market_fifth_id, market_sixth_id, is_active
    </sql>

</mapper>
